<header>
  <a href="/">
    <img src="/assets/logo.png" alt="" />
  </a>

  <nav>
    <ul>
      <a href="/thought/pensamentos"><li>Pensamentos</li></a>
      <a href="/login"><li>Entrar</li></a>
      <a href="/register"><li>Registrar</li></a>
    </ul>
  </nav>
</header>
<main id="main_create_thought">
  <div class="title_page">
    <h2>Criar Pensamento:</h2>
  </div>
  <form action="/thought/create" method="post">
    <p>Título:</p>
    <input type="text" name="title" id="title_thought">
    <input type="submit" id="create_btn" value="Criar Pensamento">
  </form>
</main>

<footer>
  <h2>Pensadores@2023</h2>
</footer>