<header>
    <a href="">
        <img src="/assets/logo.png" alt="">
    </a>

    <nav>
        <ul>
            <a><li>Pensamentos</li></a>
            <a><li>{{user.name}}</li></a>
        </ul>
    </nav>
</header>
<main>

</main>
<footer>
    <h2>Pensadores@2023</h2>
</footer>