<header>
    <a href="/">
        <img src="/assets/logo.png" alt="">
    </a>

    <nav>
        <ul>
            <a href="/pensamentos"><li>Pensamentos</li></a>
            <a href="/login"><li>Entrar</li></a>
            <a href="/register"><li>Registrar</li></a>
        </ul>
    </nav>
</header>
<main id="dashboard_main">
    <div id="create_thought">
         <div class="title_page">
            <h2>Dashboard</h2>
        </div>
        <a href="/create">Criar Pensamento</a>
    </div>
    <h3>Seus Pensamentos:</h3>
    {{#each thought}}
        {{this}}
        {{this.title}}
        {{this.name}}
    {{/each}}
</main>
<footer>
    <h2>Pensadores@2023</h2>
</footer>