<header>
    <a href="">
        <img src="/assets/logo.png" alt="">
    </a>

    <nav>
        <ul>
            <a href="/"><li>Pensamentos</li></a>
            <a href="/login"><li>Entrar</li></a>
            <a href="/register"><li>Registrar</li></a>
        </ul>
    </nav>
</header>
<main>
    <h2>Você está na home</h2>
</main>
<footer>
    <h2>Pensadores@2023</h2>
</footer>