<header>
    <a href="/">
        <img src="/assets/logo.png" alt="">
    </a>

    <nav>
        <ul>
            <a href="/thought/pensamentos"><li>Pensamentos</li></a>
            <a href="/login"><li>Entrar</li></a>
            <a href="/register"><li>Registrar</li></a>
        </ul>
    </nav>
</header>
<main id="dashboard_main">
    <div id="create_thought">
         <div class="title_page">
            <h2>Dashboard</h2>
        </div>
        <a href="/create">Criar Pensamento</a>
    </div>
    <h3>Seus Pensamentos:</h3>
    {{#each thought}}
    <div class="pensamento">
        {{this.dataValues.title}}
        {{this.dataValues.name}}
        <form action="/edit/{{this.dataValues.id}}" method="GET" id="editar">
            <input type="submit" value="Editar">
        </form>
        <form action="/thought/remove/{{this.dataValues.id}}" method="POST">
            <input type="submit" value="Excluir">
        </form>
    </div>
    {{/each}}
</main>
<footer>
    <h2>Pensadores@2023</h2>
</footer>