<header>
    <a href="/">
        <img src="/assets/logo.png" alt="">
    </a>

    <nav>
        <ul>
            <a href="/pensamentos"><li>Pensamentos</li></a>
            <a href="/login"><li>Entrar</li></a>
            <a href="/register"><li>Registrar</li></a>
        </ul>
    </nav>
</header>
<main id="pensamentos">
    <h2 id="title_pensamentos">Conheça alguns de nossos <span>Pensamentos:</span></h2>
    <div>
        <div id="search">
            <input type="text" placeholder="Está buscando por algo?">
            <button>Buscar</button>
        </div>
        <div id="order">
            <h2>Ordernar por: </h2>
            <input type="buton" value="Mais novos" id="news">
            <input type="buton" value="Mais antigos" id="olders">
            <input type="button" value="limpar" id="clean">
        </div>
    </div>
    {{#each thought}}
        <div>
            <h3>{{this.title}}</h3>
        </div>
    {{/each}}
</main>
<footer>
    <h2>Pensadores@2023</h2>
</footer>